<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<Configuration status="DEBUG">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <!-- File name="RF" fileName="logs/app%d{HH:mm:ss.SSS}.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File-->
        <RollingFile name="LogToFile" immediateFlush="true" filename="logs/app-${date:yyyy}${date:MM}${date:dd}.log" filePattern="logs/app-%d{yyyyMMdd}.log">
        <PatternLayout>
        		<Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
      	</PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="250 MB" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="CloudSQLLog" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToFile"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToFile"/>
        </Root>
    </Loggers>
</Configuration>